<h1>Events: </h1>
<!--<input type="button" value="Добавить" class="btn btn-default" (click)="addEvent()" />-->
<table class="table table-striped">
    <thead>
        <tr>
            <td>entryId</td>
            <td>shedMsg</td>
            <td>shedTime</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <ng-template [ngTemplateOutlet]="loadTemplate(event)" 
                        [ngOutletContext]="{ $implicit: event}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>
  
  
<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-event>
    <td>{{event.entryId}}</td>
    <td>{{event.shedMsg}}</td>
    <td>{{event.shedTime}}</td>
    <!--<td>
        <input type="button" value="Изменить" class="btn btn-default" (click)="editEvent(event)" />
    </td>
    <td>
        <input type="button" value="Удалить" (click)="deleteEvent(event)" class="btn btn-danger" />
    </td>-->
</ng-template>
