/*
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

#header nav > ul {
	margin: 0 -0.3em 0  0;
}

#header nav > ul > li {
	padding-left: 0.6em;
	padding-right: 0.6em;
}

#header nav > ul > li a {
	font-size: 0.85em;
}

.drop {
	width: 37.3em;
}